.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    .content {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .app-name {
            margin-top: 0px;
            padding-bottom: 10px;
            font-size: 32px;
        }
        .login-form {
            padding: 40px;
            background: #868686;
            box-shadow: 0 0 10px #ddd;
            color: #ffffff;
            input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 30px white inset;
            };
        }
    }

    &:after {
        content: '';
        background: #929292;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 50%;
        right: 0;
    }
    &:before {
        content: '';
        background-color: #585a5c;
        position: absolute;
        top: 50%;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: linear-gradient(#6d6d6d, #1d1c1c);
    }
}
.text-center {
    text-align: center;
}
.w-100 {
    width: 100%;
}

::ng-deep .mat-form-field-empty.mat-form-field-label {
    color:#efefef;
}

.loading-button {
    transform: translateY(-100px);
	transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -ms-transition: 1s all ease;
}

.loading-spinner {
    position: absolute;
    width: 220px;
    height: 140px;
    background-color:#868686;
    margin-top:20px;
    padding-top: 20px;
	transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -ms-transition: 1s all ease;
}

.spinner {
    margin-left: 60px;
}

@media (min-width : 500px) {
    .login-page .login-form {
        width: 300px;
    }
    .loading-spinner {
        width: 380px;
    }
    .spinner {
        margin-left: 140px;
    }
}
