<div class="login-page">
    <div class="content">
        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div class="card-block">
                <button class="btn btn-social-icon btn-google mx-1" (click)="signInWithGoogle()"><span class="fa fa-google"></span></button>
                <button class="btn btn-social-icon btn-facebook mx-1" (click)="signInWithFB()"><span class="fa fa-facebook"></span></button>
                <button class="btn btn-social-icon btn-linkedin mx-1" (click)="signInWithLinkedIn()"><span class="fa fa-linkedin"></span></button>
            </div>
        </div>
        <div class="loading-spinner" *ngIf="loading">
            <mat-progress-spinner mode="indeterminate" class="spinner"
            ></mat-progress-spinner>
        </div>
    </div>
</div>
